
.form-wrapper{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.505);
}
.form-div{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 width: 50rem;
  padding: 0 auto;
  border-radius: 10px;
  background-color: #fff;
}
.form-header{
  display: flex;
  justify-content: space-between;
  
}
.form-details{
  width: 95%;
  margin: 2rem auto;
}
table, tr{
  border: 2px solid grey;
  border-collapse: collapse;
}
.close{
  cursor: pointer;
}